worker_processes auto;
rtmp_auto_push on;
events {}
rtmp {
    server {
        listen 1935;
        listen [::]:1935 ipv6only=on;    

        application live {
            live on;
            record off;
            push rtmp://127.0.0.1/stream;
        }

        application stream {
            live on;
            record off;

            # Push to YouTube
            push rtmp://a.rtmp.youtube.com/live2/${YOUTUBE_TOKEN};

            # Push to Twitch
            push rtmp://live.twitch.tv/app/${TWITCH_TOKEN};
        }
    }
}
